$primary-color: #69d2e7;
$secondary-color: #fa6949;
$primary-accent: #a7dbd8;
$secondary-accent: #faa16d;
$background-color: #e0e4cc;
$text-color: #262626;

$main-typeface: "Gibson", Arial Black, sans-serif; 
$heading-typeface: "Cooper Std", Chunkfive Roman, serif; 
$secondary-typeface: "Alternate Gothic No. 2", Copperplate Gothic Bold, Arial, sans-serif;

/* Navigation*/

nav {
  background-color: $primary-color;
  }

ul.inline-list.left {
      margin-top: 65px;
      padding-right: -20px;

      li {
      font-family: $main-typeface;
      font-size: 14px;

        a {
        color: $text-color;

          &:hover {
          color: $secondary-color;
          }
        }
      }
    }

/* to solve the above issue, I simply broke it out from the nested style you were working on. not ideal, but functional */

/* ul.inline-list.left li a:hover, ul.inline-list.right li a:hover {
  color: $secondary-color;
} */

div.row.collapse.postfix-round {
  margin-top: 45px;
  margin-left: -40px;

  input {
  font-family: $main-typeface;
  }

  a.button.postfix {
  background-color: $primary-accent;
  color: $text-color;
  }
}
 
ul.inline-list.right {
  margin-top: 65px;

  li {
  font-family: $main-typeface;
  font-size: 14px;
  
    a {
    color: $text-color;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}