$primary-color: #69d2e7;
$secondary-color: #fa6949;
$primary-accent: #a7dbd8;
$secondary-accent: #faa16d;
$background-color: #e0e4cc;
$text-color: #262626;

$main-typeface: "Gibson";
$heading-typeface: "Cooper Std";
$secondary-typeface: ""


// Header
$header-height: 100px;
$header-background-color: $color-brand;

// Footer
$footer-height: 200px;
$footer-background-color: #aaa;